<div class="arena main-wrapper">

    <div class="final-window-shadow">

        <div class="final-window-box">
            <img src="./img/standingknight.svg" class="bg-img"/>
            <i class="fa-solid fa-xmark" id="close-final-box"></i>

            <div class="crown-wrapper">
                <i class="fa-solid fa-crown"></i>
            </div>

            <h1>Victory!</h1>
            <div class="text-wrapper">
                <p>{{winner._name}} is dead!</p>
                <p>{{looser._name}} won the game and the glory!</p>
            </div>
        </div>
        <button class="go-to-hall-btn" id="go-to-hall-btn">back</button>

    </div>


    <video src="video/darkness_big.mp4" autoplay muted loop></video>
    <div class="bg-video-shadow"></div>

    <div class="arena box warriors">

        <div class="warriors-info-wrapper">
            <h1>Battle:</h1>
            <div class="warrior-info-box warrior1" id="warrior1" data-warrior-name="{{warrior1._name}}">
                <img src="./img/knight1.svg" class="bg-img" id="bg-img-warrior1"/>
                <div data-id="{{warrior1._id}}" class="list-element ranking">
                    <p>name: <span class="colored-name">{{warrior1._name}}</span></p>
                    <p>strength: <span class="colored">{{warrior1._strength}}</span></p>
                    <p>agility: <span class="colored">{{warrior1._agility}}</span></p>
                    <p>defence: <span class="colored">{{warrior1._defence}}</span></p>
                    <p>endurance: <span class="colored">{{warrior1._endurance}}</span></p>
                </div>

                <div class="progress-bar warrior-1" id="progress-bar-warrior-1">
                    <div class="progress-bar-value">100%</div>
                    <div class="progress-bar-fill"></div>
                </div>
            </div>

            <div class="warrior-info-box warrior2" id="warrior2" data-warrior-name="{{warrior2._name}}">
                <img src="./img/knight2.svg" class="bg-img" id="bg-img-warrior2"/>
                <div data-id="{{warrior2._id}}" class="list-element ranking">
                    <p>name: <span class="colored-name">{{warrior2._name}}</span></p>
                    <p>strength: <span class="colored">{{warrior2._strength}}</span></p>
                    <p>agility: <span class="colored">{{warrior2._agility}}</span></p>
                    <p>defence: <span class="colored">{{warrior2._defence}}</span></p>
                    <p>endurance: <span class="colored">{{warrior2._endurance}}</span></p>
                </div>

                <div class="progress-bar warrior-2" id="progress-bar-warrior-2">
                    <div class="progress-bar-value">100%</div>
                    <div class="progress-bar-fill"></div>
                </div>
            </div>
            <button class="back-to-hall-btn2" id="back-to-hall-btn2">back</button>
        </div>
        <button id="audioBtn" class="audio-btn">
            <i class="fa-solid fa-play"></i><i class="fa-solid fa-pause"></i>
        </button>
    </div>

    <div class="arena box logs">
        <h1>Logs:</h1>

        <div class="list-box">
            {{#each fightStats}}
                <div class="list-element log {{turnOf @index}}" hidden data-first-attacker="{{../firstAttacker}}">
                    <p class="round">Round {{roundNumber @index}}</p>
                    <p>{{this.attackerName}} is attacking for <span
                            class="color-attack">{{this.attackerHit}}</span> points</p>
                    <p>{{this.attackedName}}'s HP changed from:
                        <span class="color-before">{{this.attackedPrevHp}}</span> to
                        <span class="color-after">{{this.attackedActHp}}</span></p>
                </div>
            {{/each}}

            <div class="list-element winner-element" hidden>
                <p>{{looser._name}} is dead!</p>
                <p>{{winner._name}} won the game and glory!</p>
            </div>
        </div>
    </div>
</div>
<script type="module" src="./front_arena.js"></script>